*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	
}
.container{

	-webkit-font-smoothing: antialiased;
	margin-bottom: 10px;
}


/*HEADER*/
.header{
	font-family: "Oswald";
	position: relative;
	width: 100%;
	height: 60vh;
	background-image: url("assets/images/header.jpg");
	background-size: 100% 60vh;
	background-repeat: no-repeat;
}
.logo-image{
	height: 30px;
	width: 30px;
	margin-right: 10px;
}
.logo{
  color: white;
  width: 100%;
  font-size: 100px;
  text-transform: uppercase;
  left: 14%;
  padding-left: 11%;
  padding-top: 5%;
  margin-bottom: -10px;
  font-weight: bold;
  position: relative;

}
.name{
	display: inline-block;
  margin-top: 5px; 
  padding-left: 7%;
  font-size: 12px;
  vertical-align: top;
  line-height: 30px;
  text-transform: uppercase;
}
.main-toolbar{
	display: inline-block;
	position: absolute;
	right: 5%;
	height: 30px;
    width: 18%;
}
.toolbar{
	display: inline-block;
	font-weight: bold;
	vertical-align: top;
	line-height: 30px;
	margin-top: 10px;

}
.about{
	height: 30px;
  	width: 90px;
  	font-size: 16px;
  	text-transform: uppercase;
  	text-align: center;
}
.search-image{
	height: 20px;
  	width: 20px;
  	margin-left: 5px;
}
.search{
	height: 30px;
  	width: 90px;
 	font-size: 16px;
 	text-transform: uppercase;

}
.tiny-letters{
	font-size: 10px;
	padding-left: 45%;
}
/*BODY*/
.body{
	position: relative;
	background-color: white;
	font-family: "Open Sans";
	margin-bottom: 10%;
}
.b{
	display: inline-block;
}
.body-left{
	position: relative;
	width: 53%;
	margin-left: 10%;
	margin-top: 7%;
	
}
.1-block{
	font-size: 12px;
}
.headline{
	font-size: 46px;
	line-height: 100%;
	text-transform: uppercase;
	font-weight: bold;
	margin-bottom: 14px;
}
.bl{
	display: inline-block;
	vertical-align: top;
}
.creation {
  line-height: 30px;
  color:#196FB1;
  margin-bottom: 60px;
}
.avatar-image{
	height: 33px;
	margin-right: 15px;
}
.on{
	color: #A3B3AE;
  	margin-left: 15px;
  	margin-right: 6px;
}
.date{
	color: #A3B3AE;
	text-decoration: underline;
}
p{
	line-height: 27px;
    margin-bottom: 36px;
}
p:last-of-type{
	margin-bottom: none;
}
.sub-headline{
	border-left: 2px solid #A3B3AE;
	padding: 5px;
	font-size: 37px;
	text-transform: uppercase;
	margin-left: 20px;
	margin-bottom: 7%;
	color:#196FB1;
}
.2-block{
	font-size: 15px;
}.
.buttoms{
	height: 100px;
	width:100%;
	position: relative;
}
div p a{
	color:#196FB1;
}
.f{
	display: inline-block;
  	height: 32px;
  	width: 26%;
  	background-color: #A3B3AE;
  	margin-right: 5px;
  	padding-left: 40px;
  	color: white;
  	font-size: 12px;
  	font-weight: bold;
  	text-align: center;
  	line-height: 32px;
  	position: relative;
}
.f.share{
	background-color:#196FB1; 
}
.f div img{
	width: 100%
}
.icon-box{
	background-color: #5E686F;
  	width: 38px;
  	height: 32px;
  	vertical-align: top;
  	padding: 5px 5px 15px 5px;
  	margin-right: 25px;
  	position: absolute;
  	left: 0px;
}
.body-right{
	position: absolute;
  	width: 35%;
  	right: 7%;
  	margin-top: 10%;
  	padding-left: 10%;
}
.guy-image{
	width:27%;
	margin-left: 36%;
}
.guy_name{
	text-align: center;
	text-transform: uppercase;
	font-size: 16px;
	font-weight: bold;
	color:#196FB1;
}
.guy_social_pages{
	padding-left: 12%;
	margin-bottom: 20%;
}
.social{
display: inline-block;
  text-align: center;
  color: #A3B3AE;
  font-size: 14px;
  padding: 0px 5px;
}
.girl_surfing img{
	width: 100%;
}
.about_girl{
	
	text-align: right;
}
.about_girl a{
	color:#A3B3AE;
	font-size: 14px;
	font-weight: bold;
}
.sidebar{
	margin-top: 20%;
}
.sidebar_tittle{
	color: #196FB1;
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 5px;
	text-transform: uppercase;
}
/*FOOTER*/
.footer{
	position: relative;
	width: 100%;
	font-family: "Open Sans";
}
.tittle_footer{
	font-size: 58px;
  	font-weight: 900;
  	text-align: center;
  	padding-bottom: 4%;
  	text-transform: uppercase;
}
.pictures_box{
	width: 100%;	
	font-size: 0px;
	position: relative;
}
.pic{
	display: inline-block;
	height: 60vh;
	width: 25%;
	background-size: cover;
	position: relative;

	
}
.surffer-guy{
	background-image: url(assets/images/article-image-1.jpg);
}
.actor{
	background-image: url(assets/images/article-image-3.jpg);
}
.beer{
	background-image: url(assets/images/article-image-2.jpg);
}
.alcohol{
	background-image: url(assets/images/article-image-4.jpg);
}
.layer1{
	background-color: #196FB1;
	opacity: 0.4;
	width: 100%;
	height: 60vh;
	position: relative;
}
.story-text{
   position: absolute;
   bottom:0;
   width: 100%;
   font-weight: bold;
   margin-top: 10px;
   height: 20%;
   font-size: 29px;
   vertical-align: top;
   line-height: 152%;
   padding-left: 17px;
   opacity: 0.4;
}
.layer1:hover{
	
	opacity: 0;	
}
.pic:hover {

	color: white;
	
	
}
.end_of_page div div{
	display: inline-block;
}
.end_of_page{
	  height: 150px;
      background-color:#0B3550; 
      font-size: 10%;
      color: white;
      vertical-align: top;
	line-height: 150px;
	
}
.copyright{
	font-size: 12px;
  color: #A3B3AE;
  font-weight: bold;
  	
  	
}
.tiny-logo-image{
	height: 5vh;
  margin-top: 3%;
  margin-left: 9%;
  margin-right: 30px;
}
.nav_items{

	  margin-left: 26%;
}
.nav_items div{
	display: inline-block;
	font-size: 12px;
	color: #A3B3AE;
	padding-left: 10px;
	padding-right: 10px;
	border-left: 1px solid #A3B3AE;
	line-height: 20px;
}
.item:first-of-type{
	border-left:none;
}


